@use "sass:map";

/**
    Use 'Roboto Serif' font
 */

@use "font";

/**
    AJAX loader animation styles ...
 */

@use "loader";

/**
    Modal backdrop styles ...
 */

@use "back-drop";

/**
    Extendable: text utils ...
 */

@use "text-utils";

/**
    Extendable : Buttons css classes ...
 */

@use "buttons";

/**
    Extendable: Flex display related classes ...
 */

@use "flex";

/**
    Extendable: No-flex display related classes ...
 */

@use "other-display";


.layered-modal {
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3), 0 4px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;


    @media screen and (max-width: 1023px) {
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 95% !important;

        .layered-modal-body {
            width: 100% !important;
        }
    }

    &.no-user-select {
        user-select: none;
    }

    & > .x-btn {
        font-family: monospace;
        display: flex;
        width: 40px;
        height: 40px;
        background-color: red;
        color: #fff;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        border: solid 5px #000;
        border-radius: 50%;
        user-select: none;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        transform: translateX(40%) translateY(-40%);

        &:hover {
            box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.5);
            transition-duration: 100ms;
        }
    }

    &.stacked {
        & > .x-btn {
            display: none !important;
        }
    }

    @extend %buttons;

    @extend %flex;

    @extend %other-display;

    .full-width {
        width: 100%;
    }

    &.lm-draggable {

        .lm-drag-handle {
            user-select: none;
            cursor: move;
        }

    }

    @extend %text-utils;

    .no-padding {
        padding: 0 !important;
    }

    .no-margin {
        margin: 0 !important;
    }
}

.layered-modal-header {
    font-weight: bold;
    padding: 15px;
    border-bottom: 1px solid #ccc;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        color: inherit;
    }
}

.layered-modal-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
    overflow: auto;
    position: relative;
    word-break: break-word;



    iframe {
        width: 100% !important;
        height: 100% !important;
        display: block;
        flex: 1;

    }


    .lm-single-image {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
    }

    .lm-image-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5); /* Soft black with transparency */
        color: white;
        text-align: center;
        font-size: 2rem;
        padding: 10px;
        backdrop-filter: blur(5px); /* Adds a subtle blur effect */
        transition: opacity 0.3s ease-in-out;

        @media screen and (max-width: 767px) {
            position: static;
        }
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.layered-modal-footer {
    padding: 15px;
    border-top: 1px solid #ccc;
    text-align: right;
}

.no-overflow {
    overflow: hidden !important;
}

@media screen and (max-width: 767px) {
    .layered-modal-body[data-content-type=image] {
        gap: 0;
    }
}